@font-face {
	font-family:'Montserrat-Light';
	src:url('../css/fonts/Montserrat-Light.otf') format('truetype');
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'Montserrat-Bold';
	src:url('../css/fonts/Montserrat-Bold.otf') format('truetype');
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'Pacifico';
	src:url('../css/fonts/Pacifico.ttf') format('truetype');
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'Signika';
	src:url('../css/fonts/signika.negative-semibold.ttf') format('truetype');
	unicode-range: U+0020-2265;
}

body{

	font-family: 'Montserrat-Light';
}

h2{
    margin-top: 0;
}

.login-signup .main-content{
	color: #333;
    background: #eeffe0;
    background: -moz-linear-gradient(top, #eeffe0 0%, #97ba77 100%);
    background: -webkit-linear-gradient(top, #eeffe0 0%,#97ba77 100%);
    background: linear-gradient(to bottom, #eeffe0 0%,#97ba77 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeffe0', endColorstr='#97ba77',GradientType=0 );
    padding: 50px 0;
}

.clear{
	clear: both;
}

.clear50{
	clear: both;
	margin: 50px 0;
}

header{
    position: relative;
    z-index: 9;
}

.top-header{
	background: #fff;
}

.logo{
	display: inline-block;
    width: 18%;
    padding-top: 20px;
}

.navigation{
    float: right;
    margin-top: 20px;
    width: 82%;
}

.navigation .navbar-nav{
    float: right;
}

.navigation .nav-tabs{
	border: none;
    background: none;
    box-shadow: none;
}

.navigation .nav-tabs li a{
	color: #333;
	text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}

.navigation .navbar-default .navbar-nav>.active>a,.navigation .navbar-default .navbar-nav>.open>a{
	background: none;
	border-top:0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	cursor: pointer;
	box-shadow: none;
	color: #000;
    border-bottom: 1px solid #FFA500;
    box-sizing: border-box;
}

.navigation .nav-tabs>li>a:hover,.navigation .nav>li>a:focus, .navigation .nav>li>a:hover{
	background: none;
	color: #FFA500;
    border-bottom: 1px solid #FFA500;
    box-sizing: border-box;

}

.header-bar{
	z-index: 0;
	box-shadow: 0 0 10px #ccc;
}

.fixed{
    position: fixed;
    background: #333;
    z-index: 100;
    box-shadow: 0 0px 10px 0 #333;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0;
}

.fixed .navigation .nav-tabs li a{
	color: #fff;
}

.navigation .nav-tabs li ul{
    display: none;
    list-style-type: none;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    padding: 8px 8px 4px;
    background: #fff;
    box-shadow: 0 1px 5px 0 #CCC;
    z-index: 999;
}

.navigation .nav-tabs li ul li{
    margin-bottom: 8px;
}

.navigation .nav-tabs li ul li a{
    color: #777;
    font-size: 12px;
}

.navigation .nav-tabs li:hover ul{
    display: block;
}

.navigation .nav-tabs li ul li:hover a{
    color: #FFA500;
    text-decoration: none;
}

.navigation .nav-tabs li span.logout{
    font-size: 20px;
    position: relative;
    top: 15px;
    color: #A56666;
    cursor: pointer;
}


.navigation .nav-tabs li.welcome-user span{
    font-family: 'Signika';
    font-size: 20px;
    text-transform: capitalize;
    color: #FFA500;
    text-decoration: underline;
}

/* NYC PICKUP */

.nycpick{
    background: #000;
    padding-top: 40px;
    color: #333;
}


/*
================================
	Login Signup
================================
*/

.login h2{
    color: #333;
    /*padding: 100px;*/
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    /*font-size: 40px;*/
    font-size: 25px;
    text-transform: uppercase;
}

.login h3{
    text-align: center;
    color: #333;
}

.login h4{
	/*color: #fff;
    font-size: 20px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 40px;*/
    font-weight: normal;
    font-size: 18px;
}

.form-inline .checkbox, .form-inline .radio {
    width: 20%;
}

.form-inline .checkbox.checkbox-large{
   width: 100%;
}

.form-inline .checkbox.checkbox-large input[type=checkbox]{
    width: 2%;
}

/*.signup h2{
    padding:50px;
}*/

.signup .modal-content h2{
    padding:0;
    font-size: 20px;
}
.login form{
	/*border: 1px solid #68a832;
	padding: 30px 50px;
	background: rgba(0,0,0,0.5);
	display: inline-block;
    width: 100%;*/
    background: #fff;
    text-align: left;
}

.login form label{
    /*letter-spacing: 1px;
    color: #fff;*/
    font-size: 14px;
}

.login form .form-group {
    margin-bottom: 30px;
    width: 100%;
}

.login form .form-group .input-group{
    margin-top: 10px;
}

.login form .form-control{
    margin-top: 0;
}

.login form .form-control{
	height: 47px;
}

.signup form .form-control {
    width: 52%;
}

.signup form .form-control:disabled{
    background: none;
    border: none;
    box-shadow: none;
   /* color: #fff;*/
    font-size: 16px;
    text-transform: capitalize;
    padding: 0;
}

.signup form .form-control.expiration {
    width: 25%;
}

.login form .btn-default{
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #4CAF50;
    font-family: 'Montserrat-Bold';
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 2px 5px 0 #333;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.login form .btn-default:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background: #68a832;
    height: 4px;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.login form .btn-default:hover:before{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.login form .btn-default:hover{
 background: none;
}

.signup form .btn-default{
    display: block;
    margin: 0 auto;
    width: 40%;
}

.forgot-password, .forgot-password a, .signup-link, .signup-link a, .offer{
    color: #333;
    font-size: 14px;
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
}

.login form .form-control#date{
	border: none;
    background: none;
    /*color: #fff;*/
    font-style: italic;
    box-shadow: none;
}

.signup form label {
    width: 150px;
    line-height: 20px;
    vertical-align: middle;
}

.signup form em{
	display: block;
    /*color: #fff;*/
}

.offer{
	text-align: center;
	margin-top: 10px;
}

.individual-form p{
	color: #68a832;
	text-align: justify;
}

.reg-heading{
	color: #000;
	text-align: justify;
}

.calendar span{
    font-size: 20px;
}

.calendar{
    color: #68a832;
}

.calendar:hover{
    color: #333;
}

.ui-datepicker .ui-state-active,.ui-datepicker.ui-widget-content .ui-state-active,.ui-datepicker .ui-widget-header .ui-state-active {
    border: 1px solid #68a832;
    background: #68a832;
}

.ui-datepicker.ui-widget{
    font-family: 'Montserrat-Light';
    font-size: 16px;
}

.date{
    width: 52%;
}

.schedule-radio{
    display: inline-block;
    /*width: 52%;*/
    width: 60%;
}

.signup form p{
    color: #b3b3b3;
}

.signup form .schedule label{
    vertical-align: top;
}

.signup form .schedule label.radio{
    /*width: 100%;
    margin-bottom: 5px;*/
    width: 100%;
}

.signup form .schedule label.radio input[type=radio]{
    width: 5%;
}

 .form-inline .checkbox input[type=checkbox], .form-inline .checkbox input[type=radio]{
    width: 15%;
}

.signup form select{
    padding: 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 3px;
}

.signup form .checkbox label{
    width: 100%;
    margin-right: 30px;
}

p.notice{
    text-transform: uppercase;
}
/*
================================
	Home Page
================================
*/
.subscribe-buttons{
	text-align: center;
	margin-top: 50px;
}

.subscribe-buttons a{
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 30px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: rgba(104,168,50,0.5);
    font-family: 'Montserrat-Bold';
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 2px 5px 0 #333;
}

.subscribe-buttons a:hover{
    color: #68a832;
    background: #000;
    text-decoration: none;
}

#slide1{
	background:url('../images/home-slider.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 1000px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
	background-color: #fff;
	color: #333333;
	margin: 0 auto;
	padding: 58px 0 235px;
}

#slide3{
    background: url('../images/bg-thirdsection.png') 50% 0 no-repeat fixed;
    color: #fff;
    height: 900px;
    margin: 0;
    background-size: cover;
    padding: 80px 70px;
}

#slide1 .quotes {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 15px auto;
}

#slide1 .author_name_white { 
	font-family:"Wellfleet"; 
	margin: 70px 0 0 75px; 
	color: #fff; 
	font-size: 20px; 
} 

#slide1 .author_name_gray { 
	font-family:"Wellfleet"; 
	margin: 70px 0 0 75px; 
	color: #94a4a4; 
	font-size: 20px; 
} 
#slide1 .quotes_container { 
	width: 800px; 
	margin: 0 auto; 
}

#slide1 #christmas_tree { 
	background: url('../images/christmas-tree.png')no-repeat; 
	width: 48px; 
	height: 77px; 
	margin: 0 auto; 
	position: relative; 
	bottom: -35px;
}

#slide1 #divider { 
	background: url('../images/divider.png')no-repeat; 
	width: 300px; 
	height: 35px; 
	margin: 20px auto 10px; 
}

#slide1 #ribbon { 
}

#slide1 #snowflakes1 { 
	background: url('../images/snowflakes.png')no-repeat; 
	width: 24px; 
	height: 21px; 
	margin: 0 auto; 
	display: block; 
	position: relative; 
	bottom: -55px; 
	left: -175px; 
}

#slide1 #snowflakes2 { 
	background: url('../images/snowflakes.png')no-repeat; 
	width: 24px; 
	height: 21px; 
	margin: 0 auto; 
	display: block; 
	position: relative; 
	bottom: -40px; 
	right: -175px; 
}

#slide1 h1 {
	font-weight:normal;
	font-size: 50px;
	text-align: center;
	color: #68a832;
	margin: 0;
	padding: 0;
	font-family:'Signika';
}

#slide1 h2 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family:'Pacifico';
}

#slide1 h3 {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    padding: 0;
    z-index: 1;
    position: relative;
    font-family: 'Pacifico';
    font-style: italic;
    letter-spacing: 2px;
}

#slide1 .center { margin: 0 auto; }
#slide1 .content{ margin: 0 auto; width: 100%; }
#slide1 .clear { clear: both; }

#slide2 h2{
    background: url("../images/line-divider.png") no-repeat bottom;
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
    display: block;
    margin-bottom: 80px;
    font-family:'Pacifico';
}

.section-first{
	text-align: center;
}

.icon-section {
    width: 110px;
    height: 110px;
    border: 1px solid #68a832;
    background: #fff;
    padding: 10px;
    margin: 0 auto 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.icon-section:hover {
    background: #68a832;
    border-color: #68a832;
}

.icon-img{
    height: 88px;
    width: 88px;
    border: 1px solid #9CE85B;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #eff2f7;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0 auto;
}

.icon-section:hover .icon-img{
	background: #9CE85B;
}

.icon-img span{
	margin: 0 28%;
    line-height: 88px;
    font-size: 32px;
    color: #666666;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #68a832;
}

.section-first h3{
	font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.urang-img{
}

.urang-img img{
	margin: 0 auto;
}

.third-content{
	text-align: right;
    background: rgba(0,0,0,0.5);
    padding: 20px;
}

.third-content.move{
	transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  position:absolute;
  right:calc(100% - -150px);
}


.third-content.third-content-image{
	background: none;
}

.third-content span.glyphicon{
	font-size: 40px;
}

.third-content h1{
	font-family: 'Signika';
	font-size: 50px;
	margin-top: 36px;
}

.third-content h4{
	font-style: italic;
    font-family: 'Pacifico';
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: capitalize;
}

.third-content p{
	margin: 40px 0 10px;
}

.section-content p{
	margin: 0;
}

.third-content h5{
	font-family:'Montserrat-Bold';
	text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
}

#slide4 h2{
    background: url("../images/line-divider.png") no-repeat bottom;
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
    display: block;
    margin-bottom: 30px;
    font-family:'Pacifico';
}

#slide4{
    background-color: #fff;
    color: #333333;
    margin: 0 auto;
    padding: 58px 0;
}

#slide4 h4{
	text-align: center;
    margin: 0 0 40px;
}

.section-quick{
	text-align: center;
}

.section-quick img{
	margin: 0 auto;
    display: block;
    width: 40%;
}

.section-quick p{
    font-size: 20px;
    margin: 20px 0;
    font-family: 'Montserrat-Bold';
    border: 2px solid #68A832;
    padding: 20px 0;
    border-radius: 5px;
    text-transform: capitalize;
}

.arrowimg{
	position: absolute;
    top: 130px;
}

.slide5{
	background-color: #68A832;
}

#slide5{
    color: #333333;
    margin: 0 auto;
    padding: 50px 0;
}

.thumpsup{
    padding: 40px 0;
}

.thumpsup span{
	font-size: 80px;
    color: #fff;
    display: block;
    text-align: right;
}

#slide5 h2{
	font-family: 'Montserrat-Bold';
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

#slide5 h3{
	font-size: 20px;
    font-style: italic;
    font-family: 'Pacifico';
    letter-spacing: 1px;
}

#slide5 .btn-primary{
	background: #94CA67;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #333;
    padding: 20px 40px;
    box-shadow: 1px 2px 5px 0 #333;
}

#slide5 .btn-primary:hover{
	background: #000;
    border: none;
    color: #94CA67;
}

/*
==============================
	Neighbourhood
==============================
*/
.main-content.neighbour{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeffe0+0,97ba77+100 */
	background: #ffffff; /* Old browsers */
	padding: 50px 0;
}

#tabs.ui-widget-content{
	border: none;
	background: none;
	padding: 0;
    box-shadow: 5px 5px 10px 0 #40673C;
    font-family: 'Montserrat-Light';
}

#tabs.ui-tabs .ui-tabs-panel {
    color: #333;
    padding: 30px 20px;
    line-height: 25px;
    border-radius: 3px;
    background: #F5F5F5;
}
#tabs.ui-tabs .ui-tabs-nav {
    border: none;
    background: none;
    padding: 0;
    box-shadow: none;
}
#tabs.ui-tabs .ui-tabs-nav li {
	white-space: normal;
    line-height: 25px;
    font-size: 17px;
    font-family: 'Signika';
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    width: 32.88%;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0;
}

#tabs .ui-state-default,#tabs.ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default {
  	background: #AEDC89;
}

#tabs.ui-tabs .ui-tabs-nav li a{
	outline: none;
}

#tabs .ui-state-active, .ui-widget-content .ui-state-active, #tabs .ui-widget-header .ui-state-active {
	border-bottom: 5px solid #68a832;
    font-weight: normal;
    background: #F5F5F5;
}

#tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 70px;
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
}

/*
=================================
    Right Sidebar
=================================
*/

.right-sidebar{
    border: 1px solid #68a832;
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: url("../images/greenbg.png") no-repeat top center;
    background-size: 100% 100%;
}

.right-sidebar h2{
    font-family: 'Pacifico';
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    margin-top: 0;
    border-top: 7px solid #000;
}

.right-sidebar h3{
    font-family: 'Signika';
    display: inline-block;
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
    padding-left: 20px;
}

.services{
    background: rgba(255,255,255,0.5);
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 3px 3px 0 #40673C;
}

.right-sidebar a:hover {
    text-decoration: none;
}

.right-sidebar a:hover h3{
    color: #68a832;
}

.services .image-serv{
    border: 1px solid #68a832;
    border-radius: 50%;
    padding: 10px;
    background: #AEDC89;
    display: inline-block;
}


.right-sidebar a:hover .image-serv{
    background: #fff;
} 


/*
=================================
	Footer
=================================
*/


.footer-top{
	background: #1a1a1a;
	padding: 40px 0;
}

.footer-top p{
    color: #999;
    line-height: 25px;
    text-align: justify;
}

.footer-top h2{
	font-family: 'Montserrat-Bold';
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0;
}

.footer-top h2:after{
	content: "";
    display: block;
    margin-top: 20px;
    width: 25px;
    height: 4px;
    background: #68A832;
}

.footer-top ul{
	padding: 0;
    list-style-type: none;
}

.footer-top ul li{
}


.footer-top p span{
	padding-right: 10px;
}

.footer-top a{
    color: #999;
    line-height: 30px;
}

.footer-top a:hover{
    color: #68A832;
    text-decoration: none;
}
.copyright{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-weight: bold;
}

.scrollToTop{
    padding: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 70px;
    right: 40px;
    display: none;
    font-size: 20px;
    border-radius: 50%;
    background:rgba(104, 168, 50, 0.5);
    z-index: 1;
    border: 1px solid #fff;

}
.scrollToTop:hover, .scrollToTop:focus{
	text-decoration:none;
	cursor: pointer;
	background: none;
	color: #fff;
}

/*
========================================
    Price
========================================
*/

.price-table{
    border: 1px solid #68a832;
    display: inline-block;
    margin-top: 30px;
    padding: 20px 0;
    background: #f5f5f5;
}

.price-table .table>tbody>tr>td,.price-table .table>tbody>tr>th,.price-table .table>tfoot>tr>td,.price-table .table>tfoot>tr>th, .price-table .table>thead>tr>td, .price-table .table>thead>tr>th {
    padding: 5px 0;
    border-top: 0;
}

.price-table .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #68a832;
}

/*
========================================
    Faqs
========================================
*/
#accordion{
    margin-top: 30px;
}
.faq h3{
    background: #f5f5f5 url("../images/pinpoint.png") no-repeat left top;
    background-size: contain;
}

.faq h3:focus{
    outline: none;
}
.faq.ui-accordion .ui-accordion-header {
    padding: 14px;
    color: #333;
    font-family: 'Signika';
    font-size: 16px;
    border: 1px solid #68a832;
}

.faq.ui-accordion .ui-accordion-icons {
    padding-left: 50px;
}

.ui-accordion .ui-accordion-content {
    margin-bottom: 10px;
    background: rgba(255,255,255,0.5);
    border: none;
    box-shadow: 0 3px 3px 0 #40673C;
}

p.schedule-pick{
    margin-top: 20px;
}

p.schedule-pick a{
    color: #325912;
    font-weight: bold;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{
    background: none !important;
}

/*
========================================
    Contact Us
========================================
*/

.contact p{
    font-size: 16px;
}

.contact p span{
    padding-right: 10px;
}

.contact a{
    color: #325912;
}

.contact a:hover{
    color: #333;
    text-decoration: none;
}

.contact form{
    padding: 20px 200px 0 0;
    margin-top: 20px;
}


.contact .form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}

.contact .form-control{
    border: none;
    border-radius: 0;
    height: 45px;
    box-shadow: 1px 1px 1px #000;
}

.contact textarea.form-control{
    height: 100px;
} 

.contact .form-control:focus{
    box-shadow: inset 1px 1px 5px #666;
}

.contact form .btn-default {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #68a832;
    font-family: 'Montserrat-Bold';
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 2px 5px 0 #333;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.contact form .btn-default:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background: #68a832;
    height: 4px;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.contact form .btn-default:hover {
    background: none;
}

.contact form .btn-default:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
/*
========================================
    Dashboard
========================================
*/

.dashboard h2{
    
    
    padding-bottom: 00px;
    margin-bottom: 60px;
    border-bottom: 1px solid #000000;
    width: 22%;
}

.dashboard h3{
    margin-bottom: 20px;
}

.dashboard p a{
    color: #FFA500;
    background: #333;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.dashboard p a:hover{
    text-decoration: none;
    color: #333;
    background: #FFA500;
}


/*
========================================
    Dry CLeaning
========================================
*/

.dryclean p{
    font-size: 16px;
}

.dryclean a{
    color: #325912;
}

.dryclean h2{
    margin-bottom: 40px;
    border-bottom: 4px double #666;
    padding-bottom: 10px;
}

.dryclean h2 span{
    color: #68a832;
    padding-right: 10px;
}

.dryclean.dryclean #tabs.ui-tabs .ui-tabs-nav li {
    width: 49.6%;
}

.dryclean #tabs{
    margin-top: 50px;
}

.dryclean h4{
    font-weight: bold;
}

.dryclean ul{
    padding-left: 0;
    list-style-type: none;
}

.dryclean li {
    background: url("../images/yes.png") no-repeat left;
    font-size: 16px;
    padding-left: 25px;
    margin-top: 20px;
}

/*
========================================
	Responsive
========================================
*/

@media only screen and ( max-width: 1250px ){
	.logo {
	    width: 100%;
        padding-left: 40px;
        padding-bottom: 20px;
	}

	.navigation {
	    float: none;
        margin-top: 0;
        width: 100%;
	}

    .navigation .navbar-nav{
        float: left;
        width: 100%;
    }


}

@media only screen and ( min-width: 992px ) and ( max-width: 1199px ){
	.third-content h1 {
	    font-size: 38px;
	    margin-top: 0;
	}
	.third-content h2 {
	    font-size: 20px;
	}

	.third-content h4 {
	    font-size: 12px;
	}

	.third-content h5 {
	    font-size: 14px;
	    line-height: 20px;
	    margin-top: 15px;
	}
    #tabs.ui-tabs .ui-tabs-nav li {
        width: 32.9%;
    }

    #tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 14px;
    }

    .dryclean.dryclean #tabs.ui-tabs .ui-tabs-nav li {
        width: 49.6%;
    }

}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ){
    #tabs.ui-tabs .ui-tabs-nav li {
        width: 32.9%;
    }

    #tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 14px;
    }

    .right-sidebar {
        background-size: 100%;
        margin-top: 40px;
    }
}

@media only screen and ( max-width: 991px ){
	.third-content {
	    text-align: center;
	}

	#slide3 {
	    height: auto;
	}

	.third-content.move {
	    position: relative;
	}

	.arrowimg {
	    position: relative;
	    top: 0;
	    left: 46%;
	}

	#slide5, .thumpsup span {
	    text-align: center;
	}
}

@media only screen and ( max-width: 767px ){
	#slide1 h2 {
	    font-size: 30px;
	}

	#slide1 h1 {
	    font-size: 30px;
	}

	#slide1 h3 {
	    font-size: 14px;
	    line-height: 22px;
	}

    #tabs.ui-tabs .ui-tabs-nav li, .dryclean.dryclean #tabs.ui-tabs .ui-tabs-nav li{
        width: 100%;
    }
    .navigation .nav-tabs li span.logout {
        top: -30px;
        float: right;
    }

    .right-sidebar {
        margin-top: 40px;
    }

    .price-table .table-responsive {
        border: none;
    }

    .signup form .date .form-control {
        width: 100%;
    }

    .signup form label {
        width: 100%;
    }

    .signup form .form-control.expiration {
        width: 100%;
        margin-bottom: 10px;
    }

    .schedule-radio {
        padding-left: 20px;
    }

    .signup form .form-control, .date, .schedule-radio, .signup form select, .signup form .btn-default{
        width: 100%;
    }

    
    .signup h2, .login h2{
        padding: 0;
        /*font-size: 30px;*/
        font-size: 20px;
    }

    .signup form .schedule label.radio input[type=radio], .form-inline .checkbox.checkbox-large input[type=checkbox] {
        width: auto;
        margin-top: 5px;
    }

    .form-inline .checkbox input[type=radio]{
        width: auto;
    }

    .form-inline .checkbox, .form-inline .radio {
    width: 100%;
}

    .login form .form-group {
        display: inline-block;
    }

    .login h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .logo {
        padding-left: 0;
        padding-bottom: 0;
    }

}

@media only screen and ( max-width: 480px ){
	.subscribe-buttons a {
        width: 90%;
        display: block;
        margin: 10px auto;
    }

	.third-content h1 {
	    font-size: 25px;
	    margin-top: 0;
	}
	.third-content h2 {
	    font-size: 20px;
	}

	.third-content h4 {
	    font-size: 12px;
	}

	.third-content h5 {
	    font-size: 14px;
	    line-height: 20px;
	    margin-top: 15px;
	}

	.third-content {
	    padding: 10px;
	}

	#slide3 {
	    padding: 20px 20px;
	}

	#slide2 h2, #slide4 h2 {
	    font-size: 24px;
	    margin-bottom: 0;
	}

	.section-first h3 {
	    font-size: 14px;
	}

	#slide5 h2 {
	    font-size: 20px;
	    line-height: 25px;
	}

    .login form .btn-default{
        font-size: 12px;
    }
	
}